*{
	box-sizing: border-box;
	font-family: 'Amatica SC', cursive;
	font-size: 1em ;
}

body {
	background: rgba(255, 253, 238, 1.0);
}	

/*********NAVIGATION*************/
#nav {
	position: fixed;
	top: 0px;
	height: 40px;
	width: 100%;
	background: linear-gradient(to right, rgba(165, 220, 250, 1.0), white, rgba(165, 220, 250, 1.0));
	text-align: center;
	z-index: 501;
		box-shadow: 0 0 1px 0 rgba(25, 25, 25, 1.0);

}
nav img {
	float: left;
	padding-top: 15px;
	padding-left: 20px;

}
span#nav_head{
	display: inline-block;
	font-family: 'Amatica SC', cursive;
	font-weight: 700;
	font-size: 1.5em;
	margin: auto;
	vertical-align: text-top;
	padding-top: 5px;
	padding-right: 46px;
}

/*********MAIN CONTENT SECTION*************/

.section {
	position: relative;
	top: 40px;
	width: 80%;
	margin: 0px auto;
	background: url("../img/background/hill_landscape.jpg");
	box-shadow: inset;
	background-size: cover; 
		box-shadow: 0 0 1px 0 rgba(25, 25, 25, 1.0);



}
#gameSpace {
	position: relative;
	top: 64px;
	width: 84%;
	height: 420px;
	background: rgba(255, 253, 239, 0.5);
	margin: auto;
	border-radius: 2px;
	box-shadow: 0 0 1px 0 rgba(25, 25, 25, 0.8);

}

/*********SCOREBOARD STYLES*************/


.sb_section{
	position: absolute;
	top:0px;
	width: 25%;
	margin: 0 auto;
	font-family: 'Raleway Dots', cursive;
	box-shadow: 0 0 1px 0 rgba(25, 25, 25, .2);
	z-index: 500;

}
.sb_section#p1{
	background: rgba(143, 183, 49, 1.0);
	left: 0;
}
.sb_section#p2{
	background: rgba(242, 211, 98, 1.0);
	right: 0;
}

.sb_label{
	height: 20px;
	text-align: center;
	background: rgba();

}

.score {
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 35px;
	background: rgba(255, 253, 239, 1.0);
	color: black;
}
div#round_time{
	top: 0;
	width: 50%;
	margin: 0 25%;
}
div#round_time .sb_label{
	height: 20px;
	background: linear-gradient(to right, rgba(143, 183, 49, 1.0), rgba(242, 211, 98, 1.0));
}
div#round_time_display {
	height: 40px;
	text-align: center;
	font-size: 35px;
	background: rgba(255, 253, 239, 1.0);
	width: 100%;
}
/*********BUTTONS STYLES*************/

.button_container {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 31px;
	text-align: center;
}
.button {
	transition-duration: 550ms;
	padding: 6px 14px;
	margin: 35px 10px 20px;
	color: rgba(255, 253, 239, 1.0);
	background: rgba(246, 137, 146, 1.0);
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgba(246, 137, 146, 1.0);
	
	border: 1px solid black;
}
.button span{
	padding: 6px 14px;
	font-size: 1.0em;
	font-weight: 700;
}

.button:hover {
	transition-duration: 550ms;
	font-size: 1em;
	font-weight: 700;
	color: rgba(206, 21, 97, 1.0);
	background: rgba(255, 253, 239, 1.0);
	box-shadow: inset 0 0 0 1px rgba(255, 253, 239, 1.0),inset 0 5px 25px rgba(255, 253, 239, 1.0);
}


/*********FOOTER*************/

footer {
	position: fixed;
	height: 40px;
	bottom: 0px;
	width: 100%;
	background: linear-gradient(to left, rgba(180, 219, 77, 1.0), rgba(74, 114, 48, 1.0));
	z-index: 100;
		box-shadow: 0 0 1px 0 rgba(25, 25, 25, 1.0);

}	
	
.footer_section {
	width: 49%;
}

#iconContainer {
	padding: 8px 20px 0 0;
		float: right;}
.icon {
	position: relative;
	font-size: 1.25em;
	text-decoration: none;
	float: right;
	padding: 6px 6px;
	margin: auto 10px;
	color: black;
	background: transparent;}
.icon:hover {
	transition-duration: 550ms;
	color: white;}





/***************************POPUP STYLES******************************/
.popup {
	position: absolute;
	margin: 0px auto;
	width: 75%;
	height: 75%;
	top: 5%;
	z-index: 500;
	}

.hidden {
	display: none;
}

#game_cover {
	top: 0px;
	width: 100%;
	height: 88%;
	background: blue;
	margin: 0px auto;
	border-radius: 4px;
	z-index: 601;
	
}
#instructions {
	background: black;
	color: white;
	box-shadow: 0 0 45px 4em rgba(0,0,0,.7);
	width: 80%;
	left: 10%;
	z-index: 600;
}

#instructions h1 {
	font-size: 3em;
	padding: 25px 0;
	text-align: center;
}
#instructions p {
	width: 60%;
	padding-bottom: 15px;
	margin: 0 auto;
}

#game_recap {
	position: absolute;
	background: black;
	color: white;
	box-shadow: 0 0 45px 4em rgba(0,0,0,.7);
	width: 100%;
	/*	left: 10%; */	
	z-index: 600;
}
/***************************TARGET OBJECT******************************/
div.target {
	position: absolute;
	width: 55px;
	height: 55px;
	background: pink;
	border-radius: 50px;
}

/***************************GAMEPLAY TIMER VISUALIZATIONS******************************/
.clock {
	position: absolute;
	z-index: 1000000000;
	top: 0px;
	background: transparent;
	color: black;
	width: 60%;
	height: 60%;
	margin-top: 2%;
	margin-left:20%;
	padding-top: 175px;
	text-align: center;
	font-size: 250px;
	}


